.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f7f7f7;
}

/* .container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 80%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
} */

.login-bg-left {
    flex: 1;
    background: url('../img/login-bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-left {
    color: white;
    text-align: center;
    padding: 20px;
}

.login-form-right {
    flex: 1;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-body {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Add this line */
    border-radius: 8px; /* Optional: Add rounded corners */
    background-color: #fff; /* Optional: Ensure a white background for better shadow visibility */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.input{
    height: 100% !important;
    width: 100% !important;
    outline: none !important;
    padding-left: 15px !important;
    border-radius: 15px !important;
    border: 1px solid lightgrey !important;
    border-bottom-width: 2px !important;
    font-size: 17px !important;
    transition: all 0.3s ease !important;
}
.form-group .form-control {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-group .btn {
    /* width: 100%; */
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group .btn:hover {
    background: #0056b3;
}